@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5EFEF; }

::selection {
  background-color: #ffca8e8f; }

.hero-contacto, .hero-desarrollo, section .desarollo-parrafo, .hero-diseno, .hero-fotografia, .presentacion {
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-contacto, .hero-desarrollo, section .desarollo-parrafo, .hero-diseno, .hero-fotografia, .presentacion {
  display: flex;
  align-items: center;
  justify-content: center; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #931A25;
  height: 16vh; }
  header .contenedor-logo {
    font-size: 35px;
    padding: 2rem;
    margin: 0; }
  header h1 {
    color: #353434;
    font-weight: lighter; }
    header h1 span {
      font-weight: bold;
      color: #F5EFEF; }
  header .navbar-light .offcanvas-header {
    background-color: #931A25; }
    header .navbar-light .offcanvas-header .btn-close {
      color: #F5EFEF; }
  header .navbar-light .offcanvas-body {
    background-color: #931A25; }
    header .navbar-light .offcanvas-body a.nav-link {
      text-decoration: none;
      text-align: center;
      padding: 30px;
      font-size: 18px;
      font-weight: bold;
      color: #F5EFEF; }
      header .navbar-light .offcanvas-body a.nav-link:hover {
        color: #9f905a;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.hero-contacto, .hero-desarrollo, section .desarollo-parrafo, .hero-diseno, .hero-fotografia, .presentacion {
  display: flex;
  align-items: center;
  justify-content: center; }

footer {
  width: 100%;
  background: #931A25;
  color: #F5EFEF; }
  footer .redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .redes-sociales img {
      margin: 15px 10px; }
  footer p {
    font-size: 1rem;
    padding: 15px;
    text-align: center;
    font-weight: bold; }

.hero-contacto, .hero-desarrollo, section .desarollo-parrafo, .hero-diseno, .hero-fotografia, .presentacion {
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-contacto {
  text-align: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../../img/contactohsection.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .hero-contacto h1 {
    font-size: 70px;
    margin: 30px;
    text-align: center;
    color: rgba(172, 149, 67, 0.912);
    text-shadow: 1px 1px 4px #111; }

section p {
  font-size: 50px;
  margin: 60px;
  padding: 60px;
  text-align: center;
  color: #353434; }

section .formulario {
  display: flex;
  justify-content: center;
  align-items: center; }
  section .formulario form {
    width: 600px;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    font-size: large;
    background-color: #2f34352c; }
    section .formulario form input {
      display: block;
      margin: auto;
      margin-bottom: 10px;
      height: 40px;
      width: 75%;
      padding-left: 20px;
      color: #353434;
      border: 2px solid;
      border-radius: 2px;
      background-color: transparent;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      font-size: 1rem;
      outline: none; }
    section .formulario form .form-boton {
      margin-bottom: 10px;
      background-color: rgba(128, 128, 128, 0.412); }
      section .formulario form .form-boton:hover {
        background-color: #9f905a;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
    section .formulario form textarea {
      display: block;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      height: 180px;
      width: 75%;
      padding-left: 10px;
      color: #353434;
      border: 2px solid;
      border-radius: 2px;
      background-color: transparent;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      font-size: 1rem;
      outline: none;
      resize: none; }

.hero-contacto, .hero-desarrollo, section .desarollo-parrafo, .hero-diseno, .hero-fotografia, .presentacion {
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-desarrollo {
  text-align: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../../img/desarrollohsection.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .hero-desarrollo h1 {
    font-size: 70px;
    margin: 30px;
    text-align: center;
    color: rgba(172, 149, 67, 0.912);
    text-shadow: 1px 1px 4px #111; }

section .desarollo-parrafo {
  margin: 180px 0 160px;
  padding: 20px; }
  section .desarollo-parrafo img {
    width: 25%; }
  section .desarollo-parrafo h3 {
    font-size: 35px;
    margin: 40px;
    color: #353434; }

.hero-contacto, .hero-desarrollo, section .desarollo-parrafo, .hero-diseno, .hero-fotografia, .presentacion {
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-diseno {
  text-align: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.166), rgba(0, 0, 0, 0.2)), url(../../img/disenohsection.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .hero-diseno h1 {
    font-size: 70px;
    margin: 30px;
    text-align: center;
    color: rgba(172, 149, 67, 0.912);
    text-shadow: 1px 1px 4px #111; }

section .diseno-parrafo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 180px 0 160px;
  padding: 20px; }
  section .diseno-parrafo h3 {
    font-size: 35px;
    margin: 40px;
    color: #353434; }
  section .diseno-parrafo img {
    width: 25%; }

.hero-contacto, .hero-desarrollo, section .desarollo-parrafo, .hero-diseno, .hero-fotografia, .presentacion {
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-fotografia {
  text-align: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../../img/fotografiahsection.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .hero-fotografia h1 {
    font-size: 70px;
    margin: 30px;
    text-align: center;
    color: rgba(172, 149, 67, 0.912);
    text-shadow: 1px 1px 4px #111; }

section h2 {
  font-size: 60px;
  margin: 60px;
  padding: 60px;
  text-align: center;
  color: #353434; }

section .foto-parrafo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px; }
  section .foto-parrafo img {
    display: flex;
    flex-wrap: nowrap;
    width: 25%;
    margin: 15px; }
  section .foto-parrafo h3 {
    font-size: 35px;
    margin: 40px;
    color: #353434; }

section .grid-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px;
  grid-auto-flow: dense;
  background: rgba(0, 0, 0, 0.096); }
  section .grid-galeria .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    section .grid-galeria .grid-item img {
      width: 100%;
      object-fit: cover; }
      section .grid-galeria .grid-item img:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
        transition: all .4s ease-in-out 0s; }

.hero-contacto, .hero-desarrollo, section .desarollo-parrafo, .hero-diseno, .hero-fotografia, .presentacion {
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-saludo h1 {
  text-align: center;
  font-size: 60px;
  margin: 80px 0 60px;
  color: #353434; }

.presentacion h3 {
  font-size: 2rem;
  margin: 70px;
  color: #353434; }

.presentacion img {
  justify-content: flex-end;
  width: 20%; }

.hero-contacto, .hero-desarrollo, section .desarollo-parrafo, .hero-diseno, .hero-fotografia, .presentacion {
  display: flex;
  align-items: center;
  justify-content: center; }

.servicios {
  display: flex;
  justify-content: space-around; }
  .servicios .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 9rem;
    width: 100%;
    margin: 50px 10px;
    border-radius: 5px;
    background-color: #931A25; }
    .servicios .cards h2 {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      color: #F5EFEF;
      margin: 15px;
      padding: 0; }
    .servicios .cards span {
      color: #FFCB8E;
      font-size: 1.4rem; }

@media all and (min-width: 1161px) and (max-width: 1450px) {
  .hero h1 {
    font-size: 50px;
    margin: 30px;
    padding: 30px; }
  section .servicios {
    margin: 0 20px; }
  section .servicios div p {
    margin: 10px;
    padding: 5px; }
  /*--------- SOBRE MÍ ---------*/
  section .presentacion h3 {
    margin: 70px; }
  section .presentacion img {
    width: 20%;
    align-self: flex-end; } }

@media all and (min-width: 768px) and (max-width: 1160px) {
  .hero h1 {
    font-size: 40px;
    margin: 30px;
    padding: 30px; }
  section .servicios {
    flex-direction: column;
    align-items: center;
    margin: 0 70px; }
  section .servicios div p {
    margin: 10px;
    padding: 5px; }
  /*--------- CONTACTO ---------*/
  .hero-contacto {
    height: 50vh; }
  .hero-contacto h1 {
    font-size: 55px;
    margin: 40px; }
  section h2 {
    font-size: 45px;
    margin: 50px;
    padding: 50px 0 40px; }
  section .formulario {
    margin-bottom: 80px; }
  /*--------- DESARROLLO ---------*/
  .hero-desarrollo {
    height: 50vh; }
  .hero-desarrollo h1 {
    font-size: 55px;
    margin: 40px; }
  section .desarollo-parrafo {
    flex-direction: column-reverse;
    margin: 30px 0 50px; }
  section .desarollo-parrafo h3 {
    font-size: 30px;
    margin: 50px; }
  section .desarollo-parrafo img {
    width: 40%; }
  /*--------- DISEÑO ---------*/
  .hero-diseno {
    height: 50vh; }
  .hero-diseno h1 {
    font-size: 55px;
    margin: 40px; }
  section .diseno-parrafo {
    flex-direction: column;
    margin: 30px 0 50px; }
  section .diseno-parrafo h3 {
    font-size: 30px;
    margin: 20px 40px; }
  section .diseno-parrafo img {
    width: 40%;
    margin-top: 40px; }
  /*--------- FOTOGRAFÍA ---------*/
  .hero-fotografia {
    height: 50vh; }
  .hero-fotografia h1 {
    font-size: 55px;
    margin: 40px; }
  section h2 {
    font-size: 50px;
    margin: 50px 10px 10px;
    padding: 10px; }
  section .foto-parrafo {
    flex-direction: column;
    margin-top: 30px;
    padding: 0 0 40px; }
  section .foto-parrafo img {
    width: 50%;
    margin: 20px 0 40px; }
  section .foto-parrafo h3 {
    font-size: 30px;
    margin: 25px;
    text-align: center; }
  /*--------- SOBRE MÍ ---------*/
  .hero-saludo h1 {
    font-size: 55px; }
  section .presentacion h3 {
    font-size: 25px;
    margin: 70px; }
  section .presentacion img {
    width: 30%;
    align-self: flex-end; } }

@media all and (min-width: 480px) and (max-width: 767px) {
  .hero h1 {
    font-size: 40px;
    margin: 20px;
    padding: 5px; }
  section .servicios {
    flex-direction: column;
    align-items: center;
    margin: 40px; }
  section .servicios div p {
    margin: 10px;
    padding: 5px; }
  footer p {
    font-size: 20px; }
  /*--------- CONTACTO ---------*/
  .hero-contacto {
    height: 40vh; }
  .hero-contacto h1 {
    font-size: 45px;
    margin: 10px; }
  section h2 {
    font-size: 35px;
    margin: 20px;
    padding: 50px 0 50px; }
  /*--------- DESARROLLO ---------*/
  .hero-desarrollo {
    height: 40vh; }
  .hero-desarrollo h1 {
    font-size: 50px;
    margin: 10px; }
  section .desarollo-parrafo {
    flex-direction: column-reverse;
    margin: 30px 0 50px; }
  section .desarollo-parrafo h3 {
    font-size: 25px;
    margin: 20px; }
  section .desarollo-parrafo img {
    width: 40%; }
  /*--------- DISEÑO ---------*/
  .hero-diseno {
    height: 40vh; }
  .hero-diseno h1 {
    font-size: 50px;
    margin: 10px; }
  section .diseno-parrafo {
    flex-direction: column;
    margin: 30px 0 50px; }
  section .diseno-parrafo h3 {
    font-size: 25px;
    margin: 20px; }
  section .diseno-parrafo img {
    width: 40%;
    margin-top: 40px; }
  /*--------- FOTOGRAFÍA ---------*/
  .hero-fotografia {
    height: 40vh; }
  .hero-fotografia h1 {
    font-size: 50px;
    margin: 10px; }
  section h2 {
    font-size: 40px;
    margin: 50px 10px 10px;
    padding: 10px; }
  section .foto-parrafo {
    flex-direction: column;
    margin-top: 30px;
    padding: 0 0 40px; }
  section .foto-parrafo img {
    width: 50%;
    margin: 20px 0 40px; }
  section .foto-parrafo h3 {
    font-size: 30px;
    margin: 25px;
    text-align: center; }
  section .grid-galeria {
    margin: 0 45px 60px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: minmax(160px, auto); }
  section .grid-galeria .grid-item img {
    width: 80%; }
  /*--------- SOBRE MÍ ---------*/
  .hero-saludo h1 {
    font-size: 50px;
    margin: 20px; }
  section .presentacion {
    flex-direction: column; }
  section .presentacion h3 {
    font-size: 25px;
    margin: 0 30px; }
  section .presentacion img {
    width: 30%;
    align-self: flex-end; } }

@media all and (min-width: 320px) and (max-width: 479px) {
  header {
    flex-direction: column;
    height: auto;
    margin: 0; }
  header .contenedor-logo {
    padding: 5px;
    margin-bottom: -10px; }
  header .contenedor-logo p {
    font-size: 28px;
    margin: 0; }
  .navbar {
    padding-top: 0;
    margin: 2px; }
  .navbar-light .container-fluid {
    margin: 10px;
    padding: 0; }
  .hero h1 {
    font-size: 35px;
    margin: 70px 0 40px;
    padding: 5px; }
  section .servicios {
    flex-direction: column;
    align-items: center;
    margin: 10px; }
  section .servicios div img {
    width: 30%; }
  section .servicios div p {
    margin: 10px;
    padding: 5px; }
  footer p {
    font-size: 15px; }
  /*--------- CONTACTO ---------*/
  .hero-contacto {
    height: 25vh; }
  .hero-contacto h1 {
    font-size: 30px;
    margin: 10px; }
  section h2 {
    margin: 10px;
    padding: 30px 0 30px; }
  section .formulario form textarea {
    min-width: 250px; }
  /*--------- DESARROLLO ---------*/
  .hero-desarrollo {
    height: 25vh; }
  .hero-desarrollo h1 {
    font-size: 30px;
    margin: 10px; }
  section .desarollo-parrafo {
    flex-direction: column-reverse;
    margin: 30px 0 50px; }
  section .desarollo-parrafo h3 {
    font-size: 20px;
    margin: 5px; }
  section .desarollo-parrafo img {
    width: 60%; }
  /*--------- DISEÑO ---------*/
  .hero-diseno {
    height: 25vh; }
  .hero-diseno h1 {
    font-size: 30px;
    margin: 10px; }
  section .diseno-parrafo {
    flex-direction: column;
    margin: 30px 0 50px; }
  section .diseno-parrafo h3 {
    font-size: 20px;
    margin: 5px; }
  section .diseno-parrafo img {
    width: 60%;
    margin-top: 40px; }
  /*--------- FOTOGRAFÍA ---------*/
  .hero-fotografia {
    height: 25vh; }
  .hero-fotografia h1 {
    font-size: 40px;
    margin: 10px; }
  section h2 {
    font-size: 25px;
    margin: 50px 10px 10px;
    padding: 10px; }
  section .foto-parrafo {
    flex-direction: column;
    margin-top: 30px;
    padding: 0 0 40px; }
  section .foto-parrafo img {
    width: 60%;
    margin: 20px 0 40px; }
  section .foto-parrafo h3 {
    font-size: 20px;
    margin: 25px;
    text-align: center; }
  section .grid-galeria {
    margin: 0 25px 40px; }
  section .grid-galeria .grid-item img {
    width: 80%; }
  /*--------- SOBRE MÍ ---------*/
  .hero-saludo h1 {
    font-size: 40px;
    margin: 20px;
    padding: 0; }
  section .presentacion {
    flex-direction: column; }
  section .presentacion h3 {
    font-size: 20px;
    margin: 0 15px 0; }
  section .presentacion img {
    width: 40%;
    align-self: flex-end; } }
