@import "../base/variables";

.hero-contacto {
    h2 {
        font-size: 3rem;
        margin: 10px;
        text-align: center;
        color: $details-color;
        font-weight: lighter;
    }
}
.head-form {
    h3 {
        font-size: 2rem;
        margin: 10px;
        text-align: center;
        color: gray;  
    }
    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            width: 600px;
            min-width: 300px;
            padding: 20px;
            border-radius: 10px;
            margin: 30px;
            font-size: large;
            background-color: $bg-color;
            label {
                color: $font-color;
                font-weight: lighter;
                margin: 30px;
                padding: 20px;
            }
            input {
                display: block;
                margin: auto;
                margin-bottom: 10px;
                height: 40px;
                width: 75%;
                padding-left: 20px;
                border-color: $color-letra;
                color: $font-color;
                border: 2px solid;
                border-radius: 4px;
                background-color: #931a2475;
                font-size: 1rem;
                outline: none;
            }
            textarea {
                display: block;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
                height: 180px;
                width: 75%;
                padding-left: 10px;
                color: $font-color;
                border: 2px solid;
                border-radius: 2px;
                border-color: $font-color;
                background-color: transparent;
                font-size: 1rem;
                outline: none;
                resize: none;   
                }
                .formBoton {
                    margin-bottom: 10px;
                    background-color: rgba(128, 128, 128, 0.412);
                    &:hover {
                        background-color: rgb(159, 144, 90);
                        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                        }
                }     

        }
    }
}