@import "../base/variables";

section{
    .heroDesarrollo {
        font-size: 60px;
        margin: 70px;
        text-align: center;
        color: $color-letra;
    }
    .desarolloParrafo {
        height: 56vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        img {
        width: 25%;
    }
        h3 {
            font-size: 35px;
            margin: 40px;
            color: $color-letra;
        }
    }
}