@import "../base/variables";

.hero-diseno {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.166),
        rgba(0, 0, 0, 0.200),
    ),url(../../img/disenohsection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h1 {
        font-size: 70px;
        margin: 30px;
        text-align: center;
        color: rgba(172, 149, 67, 0.912);
        text-shadow: 1px 1px 4px #111;
    }
}

section {
    .diseno-subtitulo {
        font-size: 40px;
        margin: 60px;
        padding: 40px;
        color: $color-letra;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 25%;
        }
    }    
}
