@import "../base/variables";

.hero-diseno {
    @extend %flex;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.166),
        rgba(0, 0, 0, 0.200),
    ),url(../../img/disenohsection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h1 {
        font-size: 70px;
        margin: 30px;
        text-align: center;
        color: $color-hero-letra;
        text-shadow: 1px 1px 4px $color-hero-sombra;
    }
}

section {
    .diseno-parrafo {
        @include flex (flex, center, center);
        margin: 180px 0 160px;
        padding: 20px;
        h3 {
            font-size: 35px;
            margin: 40px;
            color: $color-letra;
        }
        img {
            width: 25%;
        }
    }    
}
