@import "../base/variables";

section {
    .heroDiseno {
        font-size: 60px;
        margin: 30px;
        text-align: center;
        color: $color-letra;
    }
}

section {
    .disenoSubtitulo {
        font-size: 40px;
        margin: 60px;
        padding: 40px;
        color: $color-letra;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 25%;
        }
    }    
}