@import "../base/variables";

header {
    background: $color-fondo;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-size: 30px;
        padding: 1rem 2rem;
    }
    h1 {
        color: $color-letra;
        font-weight: lighter;
        span {
            font-weight: bold;
        }
    }
    nav {
        ul {
            display: flex;
            list-style: none;
            li {
                a {
                    text-decoration: none;
                    padding: 1rem 2rem;
                    font-size: 18px;
                    font-weight: bold;
                    color: $color-letra;
                    &:hover {
                        color: rgb(159, 144, 90);
                    }
                }
            }
        }
    }
}