@import "../base/variables";

.carousel-inner {
    height: 65vh;
    margin: 10px 0px;
}
.servicios {
    display: flex;
    justify-content: space-around;
    .cards {            
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 9rem;
        width: 100%;
        margin: 50px 10px;
        border-radius: 5px;
        background-color: $bg-color;
        h2 {
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            color: $font-color;
            margin: 15px;
            padding: 0;
        }
        span {
            color: $details-color;
            font-size: 1.4rem;
        }
    }
}
