@import "../base/variables";

section {
    .heroSaludo {
        text-align: center;
        font-size: 60px;
        margin: 50px;
        color: $color-letra;
    }
    .presentacion {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            font-size: 40px;
            margin: 70px;
            color: $color-letra;
        }
        img {
            justify-content: flex-end;
            width: 20%;
        }
    }
}
