@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5EFEF;
}

::selection {
    background-color: rgba(139, 0, 0, 0.37);
}