@media all and (min-width: 1161px) and (max-width: 1450px){
    .hero h1 {
        font-size: 50px;
        margin: 30px;
        padding: 30px;
    }
    section .servicios {
        margin: 0 20px;
    }
    section .servicios div p {
        margin: 10px;
        padding: 5px;
    }
/*--------- SOBRE MÍ ---------*/
    section .presentacion h3 {
        margin: 70px;
    }
    section .presentacion img {
        width: 20%;
        align-self: flex-end;
    }
}

@media all and (min-width: 768px) and (max-width: 1160px){
    .hero h1 {
        font-size: 40px;
        margin: 30px;
        padding: 30px;
    }
    section .servicios {
        flex-direction: column;
        align-items: center;
        margin: 0 70px;
    }
    section .servicios div p {
        margin: 10px;
        padding: 5px;
    }
/*--------- CONTACTO ---------*/
    .hero-contacto {
        height: 50vh;
    }
    .hero-contacto h1 {
        font-size: 55px;
        margin: 40px;
    }
    section h2 {
        font-size: 45px;
        margin: 50px;
        padding: 50px 0 40px;
    }
    section .formulario {
        margin-bottom: 80px;
    }
/*--------- DESARROLLO ---------*/
    .hero-desarrollo {
        height: 50vh;
    }
    .hero-desarrollo h1 {
        font-size: 55px;
        margin: 40px;
    }
    section .desarollo-parrafo {
        flex-direction: column-reverse;
        margin: 30px 0 50px;
    }
    section .desarollo-parrafo h3 {
        font-size: 30px;
        margin: 50px;
    }
    section .desarollo-parrafo img {
        width: 40%;
    }
    /*--------- DISEÑO ---------*/
    .hero-diseno {
        height: 50vh;
    }
    .hero-diseno h1 {
        font-size: 55px;
        margin: 40px;
    }
    section .diseno-parrafo {
        flex-direction: column;
        margin: 30px 0 50px;
    }
    section .diseno-parrafo h3 {
        font-size: 30px;
        margin: 20px 40px;
    }
    section .diseno-parrafo img {
        width: 40%;
        margin-top: 40px;
    }
    /*--------- FOTOGRAFÍA ---------*/
    .hero-fotografia {
        height: 50vh;
    }
    .hero-fotografia h1 {
        font-size: 55px;
        margin: 40px;
    }
    section h2 {
        font-size: 50px;
        margin: 50px 10px 10px;
        padding: 10px;
    }
    section .foto-parrafo {
        flex-direction: column;
        margin-top: 30px;
        padding: 0 0 40px;
    }
    section .foto-parrafo img {
        width: 50%;
        margin: 20px 0 40px;
    }
    section .foto-parrafo h3 {
        font-size: 30px;
        margin: 25px;
        text-align: center;
    }
/*--------- SOBRE MÍ ---------*/
    .hero-saludo h1 {
        font-size: 55px;
    }
    section .presentacion h3 {
        font-size: 25px;
        margin: 70px;
    }
    section .presentacion img {
        width: 30%;
        align-self: flex-end;
    }
}

@media all and (min-width: 480px) and (max-width: 767px){

    .hero h1 {
        font-size: 40px;
        margin: 20px;
        padding: 5px;
    }
    section .servicios {
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }
    section .servicios div p {
        margin: 10px;
        padding: 5px;
    }
    footer p {
        font-size: 20px;
    }
/*--------- CONTACTO ---------*/
    .hero-contacto {
        height: 40vh;
    }
    .hero-contacto h1 {
        font-size: 45px;
        margin: 10px;
    }
    section h2 {
        font-size: 35px;
        margin: 20px;
        padding: 50px 0 50px;
    }
/*--------- DESARROLLO ---------*/
    .hero-desarrollo {
        height: 40vh;
    }
    .hero-desarrollo h1 {
        font-size: 50px;
        margin: 10px;
    }
    section .desarollo-parrafo {
        flex-direction: column-reverse;
        margin: 30px 0 50px;
    }
    section .desarollo-parrafo h3 {
        font-size: 25px;
        margin: 20px;
    }
    section .desarollo-parrafo img {
        width: 40%;
    }
/*--------- DISEÑO ---------*/
    .hero-diseno {
        height: 40vh;
    }
    .hero-diseno h1 {
        font-size: 50px;
        margin: 10px;
    }
    section .diseno-parrafo {
        flex-direction: column;
        margin: 30px 0 50px;
    }
    section .diseno-parrafo h3 {
        font-size: 25px;
        margin: 20px;
    }
    section .diseno-parrafo img {
        width: 40%;
        margin-top: 40px;
    }
/*--------- FOTOGRAFÍA ---------*/
    .hero-fotografia {
        height: 40vh;
    }
    .hero-fotografia h1 {
        font-size: 50px;
        margin: 10px;
    }
    section h2 {
        font-size: 40px;
        margin: 50px 10px 10px;
        padding: 10px;
    }
    section .foto-parrafo {
        flex-direction: column;
        margin-top: 30px;
        padding: 0 0 40px;
    }
    section .foto-parrafo img {
        width: 50%;
        margin: 20px 0 40px;
    }
    section .foto-parrafo h3 {
        font-size: 30px;
        margin: 25px;
        text-align: center;
    }
    section .grid-galeria {
        margin: 0 45px 60px;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-auto-rows: minmax(160px, auto);        
    }
    section .grid-galeria .grid-item img {
        width: 80%;
    }
/*--------- SOBRE MÍ ---------*/
    .hero-saludo h1 {
        font-size: 50px;
        margin: 20px;
    }
    section .presentacion {
        flex-direction: column;
    }
    section .presentacion h3 {
        font-size: 25px;
        margin: 0 30px;
    }
    section .presentacion img {
        width: 30%;
        align-self: flex-end;
    }
}

@media all and (min-width: 320px) and (max-width: 479px){

    header{
        flex-direction: column;
        height: auto;
        margin: 0;
    }
    header .contenedor-logo {
    padding: 5px;
    margin-bottom: -10px;
    }
    header .contenedor-logo p {
        font-size: 28px;
        margin: 0;
    }
    .navbar {
        padding-top: 0;
        margin: 2px;
    }
    .navbar-light .container-fluid {
        margin: 10px;
        padding: 0;
    }
    .hero h1 {
        font-size: 35px;
        margin: 70px 0 40px;
        padding: 5px;
    }
    section .servicios {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    section .servicios div img {
        width: 30%;
    }
    section .servicios div p {
        margin: 10px;
        padding: 5px;
    }
    footer p {
        font-size: 15px;
    }

/*--------- CONTACTO ---------*/
    .hero-contacto {
        height: 25vh;
    }
    .hero-contacto h1 {
        font-size: 30px;
        margin: 10px;
    }
    section h2 {
        margin: 10px;
        padding: 30px 0 30px;
    }
    section .formulario form textarea {
        min-width: 250px;
    }
/*--------- DESARROLLO ---------*/
    .hero-desarrollo {
        height: 25vh;
    }
    .hero-desarrollo h1 {
        font-size: 30px;
        margin: 10px;
    }
    section .desarollo-parrafo {
        flex-direction: column-reverse;
        margin: 30px 0 50px;
    }
    section .desarollo-parrafo h3 {
        font-size: 20px;
        margin: 5px;
    }
    section .desarollo-parrafo img {
        width: 60%;
    }
/*--------- DISEÑO ---------*/
    .hero-diseno {
        height: 25vh;
    }
    .hero-diseno h1 {
        font-size: 30px;
        margin: 10px;
    }
    section .diseno-parrafo {
        flex-direction: column;
        margin: 30px 0 50px;
    }
    section .diseno-parrafo h3 {
        font-size: 20px;
        margin: 5px;
    }
    section .diseno-parrafo img {
        width: 60%;
        margin-top: 40px;
    }
/*--------- FOTOGRAFÍA ---------*/
    .hero-fotografia {
        height: 25vh;
    }
    .hero-fotografia h1 {
        font-size: 40px;
        margin: 10px;
    }
    section h2 {
        font-size: 25px;
        margin: 50px 10px 10px;
        padding: 10px;
    }
    section .foto-parrafo {
        flex-direction: column;
        margin-top: 30px;
        padding: 0 0 40px;
    }
    section .foto-parrafo img {
        width: 60%;
        margin: 20px 0 40px;
    }
    section .foto-parrafo h3 {
        font-size: 20px;
        margin: 25px;
        text-align: center;
    }
    section .grid-galeria {
        margin: 0 25px 40px;        
    }
    section .grid-galeria .grid-item img {
        width: 80%;
    }
/*--------- SOBRE MÍ ---------*/
    .hero-saludo h1 {
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    section .presentacion {
        flex-direction: column;
    }
    section .presentacion h3 {
        font-size: 20px;
        margin: 0 15px 0;
    }
    section .presentacion img {
        width: 40%;
        align-self: flex-end;
    }
}